{{#ifCond user.Id_Rol '==' 1}}
<h2 class="text-center my-4">Añadir Categoria</h2>
<form action="/categoria/guardar" method="POST" class="container form-General p-4 border rounded shadow-sm" style="max-width: 500px; margin: 0 auto;">
  <p class="mb-4"><span style="color: red;">*</span> Son campos obligatorios</p>

  <!-- Nombre de la Categoría -->
    <div class="form-group mb-3">
        <label for="nombre_categoria" class="form-label">Nombre de la Categoría <span style="color: red;">*</span></label>
        <input 
            type="text" 
            name="nombre_categoria" 
            id="nombre_categoria" 
            class="form-control" 
            required
        >
    </div>

    <!-- Descripción -->
    <div class="form-group mb-4">
        <label for="descripcion" class="form-label">Descripción</label>
        <input 
            type="text" 
            name="descripcion" 
            id="descripcion" 
            class="form-control" 
        >
    </div>
  
  <!-- Botones -->
  <div class="text-center mt-4">
    <button type="submit" class="btn-guardar me-2">Añadir</button>
    <a href="/categoria/table" class="btn btn-secondary">Cancelar</a>
  </div>

</form>

{{else ifCond user.Id_Rol '==' 2}}
<h2 class="text-center my-4">Acceso Denegado</h2>
<div class="container acceso-denegado">
  <p class="text-center">No tiene permisos para acceder a esta página.</p>
  <div class="text-center mt-4">
    <a href="/dashboard" class="btn btn-danger">Volver al Inicio</a>
  </div>
</div>
{{/ifCond}}