<footer class="text-center py-4 mt-5 border-top text-white" style="background-color: #262626;" data-bs-theme="light">
    <p>&copy; 2025 Tecnología y Soluciones SM. Todos los derechos reservados.</p>
    <div>
        <a href="https://facebook.com" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>
